html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: inline-block;
  padding: 7px;
  background-color: lightgrey;
  margin: 0;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  border: 3px solid black;
  padding: 0.4em .75em 0.3em;
}

a {
  text-decoration: none;
  color: black;
}
